.grid {
  margin: 0 auto;
  width: 50%;
}

.grid__row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.grid__cell {
  border: 2px solid var(--box-outline-color);
  box-shadow: 8px 8px 8px -4px rgb(1,1,1, 0.08);
  border-radius: 2px;
  width: 60px;
  height: 60px;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  line-height: 60px;
}

.grid__cell:not(:first-child) {
  margin-left: 10px;
}

.grid__row.past .grid__cell{
  color: #FFF;
}

.grid__cell.green {
  background-color: green;
  border: 2px solid green;
}

.grid__cell.yellow {
  background-color: #d1ab01;
  border: 2px solid #d1ab01;
}

.grid__cell.grey {
  background-color: rgb(100, 100, 100);
  border: 2px solid rgb(100, 100, 100);
}
