.grid {
  margin: 0 auto;
  width: 50%;
}

.grid__row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.grid__cell {
  border: 2px solid var(--box-outline-color);
  box-shadow: 8px 8px 8px -4px rgb(1,1,1, 0.08);
  border-radius: 2px;
  width: 60px;
  height: 60px;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  line-height: 60px;
}

.grid__cell:not(:first-child) {
  margin-left: 10px;
}

.grid__row.past .grid__cell{
  color: #FFF;
}

.grid__cell.green {
  --background-color: var(--green-letter-bg);
  --border: 2px solid var(--green-letter-bg);
  animation: flip 0.5s ease forwards;
}

.grid__cell.yellow {
  --background-color: var(--yellow-letter-bg);
  --border: 2px solid var(--yellow-letter-bg);
  animation: flip 0.5s ease forwards;
}

.grid__cell.grey {
  --background-color: var(--dark-grey-letter-bg);
  --border: 2px solid var(--dark-grey-letter-bg);
  animation: flip 0.5s ease forwards;
}

.grid__row:not(.current) > .grid__cell:nth-child(2){
  animation-delay: 0.2s;
}

.grid__row:not(.current) > .grid__cell:nth-child(3){
  animation-delay: 0.4s;
}

.grid__row:not(.current) > .grid__cell:nth-child(4){
  animation-delay: 0.6s;
}

.grid__row:not(.current) > .grid__cell:nth-child(5){
  animation-delay: 0.8s;
}

.grid__cell.filled {
  border: 2px solid var(--box-bold-outline-color);
  animation: bounce 0.2s ease-in-out forwards;
}


/* ------- ANIMATIONS --------- */

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border: 2px solid var(--box-outline-color);
    color: var(--text-color);
  }
  45% {
    transform: rotateX(90deg);
    background: #fff;
    border: 2px solid var(--box-outline-color);
    color: var(--text-color);
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background-color);
    border: var(--border);
    color: #FFF;
  }
  100% {
    transform: rotateX(0);
    background: var(--background-color);
    border: var(--border);
    color: #FFF;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: var(--box-bold-outline-color);
  }
}
