.grid {
  margin: 0 auto;
  width: 50%;
}

.grid__row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.grid__cell {
  border: 2px solid var(--box-outline-color);
  box-shadow: 8px 8px 8px -4px rgb(1,1,1, 0.08);
  border-radius: 2px;
  width: 60px;
  height: 60px;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  color: var(--text-color);
}

.grid__cell:not(:first-child) {
  margin-left: 10px;
}
