.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 0 6px;
  background-color: rgba(255,255,255, 0.9);
  box-shadow: 0 1px 5px rgba(150,150,150, 0.2);
}


.header__content {
  width: 100%;
  text-align: center;
}
