
:root {
  /* --------- COLOURS --------- */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: rgb(60,60,60);
  --body-color: #f7f7f8;
  --box-outline-color: #d5d4d4;
  --box-bold-outline-color: rgb(120, 120, 120)
}


/* ------- BASE STYLING --------- */ */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}


:root {
  /* --------- COLOURS --------- */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: rgb(60,60,60);
  --body-color: #f7f7f8;
  --box-outline-color: #d5d4d4;
}


/* ------- BASE STYLING --------- */ */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}


:root {
  /* --------- COLOURS --------- */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: rgb(60,60,60);
  --body-color: #f7f7f8;
  --box-outline-color: #d5d4d4;
  --green-letter-bg: #0a960a;
  --yellow-letter-bg: #d1ab01;
  --light-grey-letter-bg: #eee;
  --dark-grey-letter-bg:  rgb(100, 100, 100);
}


/* ------- BASE STYLING --------- */ */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
